<h1>Formulario de {{ACCION}}</h1>
<form action="http://localhost:3000/enviar" method="post">

<label for="nombre">Ingrese su nombre:</label>
<input class="form-control" type="text" name="nombre" placeholder="Ej: Obi Juan Kenobi">

<br>

<label for="correo">Ingrese su E-Mail:</label>
<input class="form-control" type="email" name="correo" placeholder="Ej: obi.juan@jedi.com">

<br>

<label for="asunto">Elija su asunto:</label>
<select class="form-control" name="asunto">
	<option value="ax45">Consulta</option>
	<option value="ax38">Pedido</option>
	<option value="ax67">Sugerencia</option>
	<option value="ax14">Reclamo</option>
</select>

<br>

<label for="mensaje">Ingrese su mensaje:</label>
<textarea class="form-control" name="mensaje" cols="30" rows="10" placeholder="Max: 100 caracteres"></textarea>

<br>

<input class="btn btn-primary" type="submit" value="Done!">

</form>
<script>
//document.querySelector("form").onsubmit = function(){ ... }

document.querySelector("form").addEventListener("submit", function(evento){
	evento.preventDefault()

	const datos = Object.fromEntries( new FormData(evento.target) ) //<-- Pasar de Form a Object
	//console.log(datos)
	//const datos = new FormData(this)

	fetch(evento.target.action, {
		method : evento.target.method,
		body : JSON.stringify(datos), //<-- Pasar de Object a JSON
		headers : {
			"Content-Type" : "application/json"
		},
	}).then( rta => rta.json() ).then( data => {
		alert( data.rta )
	})
})