<table width="100%" border="1">
    <tr>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Marca</th>
    </tr>
    {{#each productos}}
    <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.precio}}</td>
        <td>{{this.marca}}</td>
    </tr>
    {{/each}}
</table>